{% extends "formulario.html" %}
{% block titulo %} {{ 'Modificar Cliente' }} {% endblock %} 
{% block contenido %}
{% if mensaje %}
<div class="alert alert-success" role="alert">
    {{ mensaje }}
</div>
{% endif %} 

<form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table">
                {{ form.as_table }}
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <input type="submit" class="btn btn-danger" value="Modificar">
            <a href="{% url 'listadoCliente' %}" class="btn btn-success">Listar cliente</a>
            <a href="{% url 'crearCliente' %}" class="btn btn-primary">Crear cliente</a>
        </div>
    </div>
</form>
{% endblock %}